p.list-content {
  margin: 0;
}
p.edit-page {
  margin: 1rem 0 0 0;
}
p.edit-comment {
  font-size: 1.3rem;
  font-weight: bold;
}
p.edit-label {
  font-weight: bold;
}
input[type=text] {
  width: 100%;
}
#img-placement {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  z-index: 10;
}