{% extends 'base.html' %}

{% block title %} edit {% endblock %}

{% block content %}
  <h1>{{ file_path }}</h1>
  <h3>{{ utc_dt }}</h3>
  <form action="/receiveedit" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="file_path" value="{{ file_path }}">
    <input type="hidden" name="file_name" value="{{ file_name }}">
    <input type="hidden" name="is_new_file" value="{{ is_new_file }}">
    
    {# Title input field only on new content #}
    {% if is_new_file %}
      <p class="edit-page edit-label">ENTER TITLE OF NEW FILE, usually same a title of painting, it will also be used to form the URL.</p>
      <input type="text" name="title_new_file" placeholder="Enter title" required>
    {% endif %}
    
    {% for current_line_dict in file_as_dict.header %}

      {# debug #}
      {#
      <p>file_path={{ file_path}}</p>
      <p>file_name={{ file_name }}</p>
      <hr style="height: 3px;color: red;">
      <ul>
      {% for k, v in current_line_dict.items() %}
        <li>{{ k }} => {{ v }}</li>
      {% endfor %}
      </ul>
      #}

      {# is NOT an input field #}
      {% if not current_line_dict.is_input_field %}

        {# is template_display_only_raw_html (for ex a line separator) #}
        {% if current_line_dict.key == 'template_display_only_raw_html' %}
          {{ current_line_dict.value | safe }}
        {% else %}
          <p class="edit-page edit-comment">{{ current_line_dict.value }}</p>
        {% endif %}

      {# is input field #}
      {% else %}
        <div>
          <p class="edit-page edit-label">{{ current_line_dict.key }}</p>
          
          {# exception for date field on new content #}
          {% if is_new_file and current_line_dict.key == '1_date' and current_line_dict.value == '{{ .Date }}' %}
            <input type="text" name="{{ current_line_dict.key }}" value="{{ utc_dt }}">

          {# exception for boolean fields #}
          {% elif current_line_dict.structure.type == 'bool' %}
          <select name="{{ current_line_dict.key }}" id="is_draft" value="{{ current_line_dict.value }}">
            <option value="true" {% if current_line_dict.value=="true" %} selected{% endif %}>
              {{ current_line_dict.structure.display_text_on_true }}
            </option>
            <option value="false" {% if current_line_dict.value=="false" %} selected{% endif %}>
              {{ current_line_dict.structure.display_text_on_false }}
            </option>
          </select>
          
          {# is input field #}
          {% elif current_line_dict.structure.is_upload == False %}
            <input type="text" name="{{ current_line_dict.key }}" value="{{ current_line_dict.value }}">
          
          {% else %}
            <select name="{{ current_line_dict.key }}" id="image-name" value="{{ current_line_dict.value }}">
              <option value="">-- new image --</option>
              {% for img_path in image_list %}
                <option value="{{ img_path.rel_img_path }}"{% if current_line_dict.value == img_path.rel_img_path %} selected{% endif %}>{{ img_path.rel_img_path }}</option>
              {% endfor %}
            </select>
          {% endif %}

        </div>
      {% endif %}
    {% endfor %}

    <hr>
    <h2>Body</h2>
    <textarea name="body" rows="10" cols="100%">{{ file_as_dict.body }}</textarea>
    <div class='my-3'>
      <input class="btn btn-success" type="submit" value="Save">
    </div>
  </form>

  {% if not is_new_file %}
  <div class='my-3'>
    <a class="btn btn-danger" href='{{ url_for("delete_file") }}?q={{ file_path }}'>Delete</a>
  </div>
  {% endif %}

{% endblock %}
