{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block content %}

  <div id='search-files'>
    <input id="search-input" placeholder="Search" name="name" />
    <div id='search-result'></div>
  </div>

  <h3>{{ utc_dt }}</h3>

  {% set ns = namespace(oldcat="") %}

  {% for file_object in list_of_files %}

    {% if not ns.oldcat == file_object.category %}
      <hr>
      {%set ns.oldcat = file_object.category %}
    {% endif %}

    <p class="list-content"><a href='{{ url_for("edit_file") }}?{{ file_object.encoded_params }}'>{{ file_object.rel_img_path }}</a></p>

  {% endfor %}

{% endblock %}